Structured Property Values with empty/missing components

At first specifications :P --> https://tools.ietf.org/html/rfc7095#section-3.3.1.3:
>   The vCard specification defines properties with structured values,
   for example, "GENDER" or "ADR".  In vCard, a structured text value
   consists of one or multiple text components, delimited by the
   SEMICOLON character.  Its equivalent in jCard is a structured
   property value, which is an array containing one element for each
   text component, with **empty/missing text components represented by
   zero-length strings**.
>
>[...]
>
>   Per Section 6.3.1 of [RFC6350], the component separator MUST be
   specified even if the component value is missing.  Similarly, the
   **jCard array containing the structured data MUST contain all required
   elements, even if they are empty**.
>
>   vCard Example:
>
>   ADR;LABEL="123 Maple Ave\nSuite 901\nVancouver BC\nA1B 2C9\nCan
    ada":;;;;;;
>
>   jCard Example:
>
>   ["adr",
    {"label":"123 Maple Ave\nSuite 901\nVancouver BC\nA1B 2C9\nCanada"},
    "text",
    ["", "", "", "", "", "", ""]
   ]

My Problem is using ``new vCard().parse(vcfString).toJCard()`` with following vcfString:
```
BEGIN:VCARD
VERSION:2.1
ADR;CHARSET=utf-8;WORK:Postfach 9999
END:VCARD
```
results in:
```
[
    "vcard",
    [
        ["version", {}, "text", "4.0"],
        ["adr", {"charset": "utf-8", "type": "work"}, "text", 
            ["Postfach 9999"]
        ]
    ]
]
```
whereas I think it should be:
```
[
    "vcard",
    [
        ["version", {}, "text", "4.0"],
        ["adr", {"charset": "utf-8", "type": "work"}, "text", 
            ["Postfach 9999", "", "", "", "", "", ""]
        ]
    ]
]
```

FYI, "n","gender","adr" and "org" contain structured values
and I also always prefer arrays for those values.

This is my workarround:
```
    _enforceSomeJCardRfcSpecifications() {
        this.jCard[1].forEach((property) => {
            if (property[0] === "n") {
                property[3] = this._normalizeStructuredValue(property[3], 5, "");
            }
            else if (property[0] === "gender") {
                property[3] = this._normalizeStructuredValue(property[3], 1);
            }
            else if (property[0] === "adr") {
                property[3] = this._normalizeStructuredValue(property[3], 7, "");
            }
            else if (property[0] === "org") {
                property[3] = this._normalizeStructuredValue(property[3], 1);
            }
        });
    }

    _normalizeStructuredValue(structuredValue, minNumberOfValueComponents, emptyValue) {
        if (Array.isArray(structuredValue)) {
            for (let index = 0; index < minNumberOfValueComponents; index++) {
                if (isUndefinedOrNull(structuredValue[index])) {
                    structuredValue[index] = emptyValue;
                }
            }
        }
        else if (!isUndefinedOrNull(structuredValue)) {
            structuredValue = [structuredValue];
            while (structuredValue.length < minNumberOfValueComponents) {
                structuredValue.push(emptyValue);
            }
        }

        return structuredValue;
    }
```